.container {
    background-color: blueviolet;
    border: 2px solid black;
}

.invalid-input {
    border: 6px solid red;
    background-color: yellow;
}

.input {
    height:  40px;
    background-color: cadetblue;
}